<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2017 by Pablo Macias Munoz
  ~ pamaciasm@alumnos.unex.es
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~
  ~ the Free Software Foundation; either version 2 of the License,
  ~ (at your option) any later version.
  ~ This program is distributed in the hope that it will be useful
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public Lice
  ~ along with this program; if not, write to the
  ~ Free Software Foundation, Inc.,
  ~ 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.pablomacias.esnuex_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/esn_star"
        android:label="@string/app_name"
        android:roundIcon="@drawable/esn"
        android:supportsRtl="true"
        android:theme="@style/NoTittleBarTheme">
        <activity
            android:name=".ui.main.activity.HomeActivity"
            android:label="@string/title_home"
            android:theme="@style/NoTittleBarTheme.NoActionBar" />
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:label="@string/title_home"
            android:theme="@style/NoTittleBarTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.activity.SignupActivity">

        </activity>
        <activity android:name=".ui.login.activity.LoginActivity" />
        <activity android:name=".ui.splash.activity.SplashActivity">

        </activity>
    </application>

</manifest>